{
    "extends": [
        "airbnb-base",
        "prettier"
    ],
    "env": {
        "node": true,
        "commonjs": true,
        "es6": true
    },
    "rules": {
        "semi": "off",
        "no-unused-vars": ["error", { "args": "none" }]
    }
}
