{{#> main title="Sigarillo | Login"}}
{{#*inline "body"}}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Sigarillo</h3>
                <div class="notification is-warning">This project is under development and is not secure.</div>
                <div class="box">
                    <h4 class="subtitle has-text-grey">Please login</h4>
                        <form class="login" method="post" action="/login">
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" name="email" type="email" placeholder="Your Email" autofocus="">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input is-large" name="password" type="password" placeholder="Your Password">
                            </div>
                        </div>
                        <button class="button is-block is-info is-large is-fullwidth">Login</button>
                    </form>
                </div>
                <p class="has-text-grey">
                    {{!--<a href="../">Sign Up</a> &nbsp;·&nbsp;--}}
                    {{!--<a href="../">Forgot Password</a> &nbsp;·&nbsp;--}}
                    {{!--<a href="../">Need Help?</a>--}}
                </p>
            </div>
        </div>
    </div>
</section>

{{/inline}}
{{/main}}
