<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href="/assets/css/main.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png?123">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png?123">
</head>
<body>
{{#> body}}
{{/body}}
{{#if script}}
    <script src="/assets/js/{{script}}.js"></script>
{{/if}}
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>
</html>
