{{#> main title="Sigarillo | Register"}}
{{#*inline "body"}}
{{#unless isProd}}
    <div class="notification is-info">Only the Signal <strong>staging</strong> server is used.</div>
{{/unless}}
<form class="" method="post" action="/bot/register">
    <div class="field">
        <div class="control">
            <input class="input is-large" name="number" type="text" placeholder="+1 555 555 5555" autofocus="">
        </div>
    </div>
    <button class="button is-block is-info is-large is-fullwidth">Register</button>
</form>

<a href="/account">Back</a>

{{/inline}}
{{/main}}
